<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings >
    <add  name ="ConnectionString"  connectionString="Data Source=SYN-2008R2DB;Initial Catalog=jinendra;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--In minutes-->
    <!--<add key="interval" value="5"/>-->
    <!-- UTC time MM/dd/yyyy HH:mm:ss-->
    <add key="startdatetime" value="24/07/2016 00:00:00"/>
    <!--<add key="enddatetime" value="18/07/2016 00:00:00"/>-->
  </appSettings>
  
</configuration>