<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="earthQuake.log"  /-->
        <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener" traceOutputOptions="None" />
      </listeners>
    </trace>
    <!-- <sources>
       <source name="defaultTraceSource" switchName="allTraceLevel" >
       
        <listeners>
          <add name="consoleListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      
      <add
        type="System.Diagnostics.ConsoleTraceListener"
        name="consoleListener" 
        traceOutputOptions="None" />
    
    </sharedListeners-->

    <switches>

      <!-- Use this switch to output all log messages -->

      <add name="allTraceLevel" value="All" />

      <!-- Use this switch to output low-level debugging, informational,

        warning, and error messages -->

      <add name="verboseTraceLevel" value="Verbose" />

      <!-- Use this switch to output informational, warning,

        and error messages -->

      <add name="infoTraceLevel" value="Info" />

      <!-- Use this switch to output warning and error messages -->

      <add name="warningTraceLevel" value="Warning" />

      <!-- Use this switch to output error messages -->

      <add name="errorTraceLevel" value="Error" />

      <!-- Use this switch to output no tracing messages -->

      <add name="offTraceLevel" value="Off" />

    </switches>

  </system.diagnostics>
  <connectionStrings>
    <add name="EarthquakeDBCon" connectionString="Data Source=synechroninsurance.database.windows.net,1433;Initial Catalog=DataLake-Dev;Integrated Security=SSPI"/>
  </connectionStrings>

  <appSettings>
    <!--In minutes-->
    <add key="interval" value="5"/>
    <!-- UTC time MM/dd/yyyy HH:mm:ss-->
    <add key="startdatetime" value="07/01/2016 01:00:00"/>
    <add key="enableTimer" value="true"/>
    <!--In days, should not be greater than 30, otherwise it will give error-->
    <add key="getPastDataInterval" value="30"/>

  </appSettings>
</configuration>