<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="8QX8es87NFUqbD5n1hubYtp9l9NdXHuFFmFJ3TMu8fqThCK/mlcW0HvLPLc6WqL/O2xMBHcJi98IPhdG2Y8ysg==" />
    <add name="AzureWebJobsStorage" connectionString="8QX8es87NFUqbD5n1hubYtp9l9NdXHuFFmFJ3TMu8fqThCK/mlcW0HvLPLc6WqL/O2xMBHcJi98IPhdG2Y8ysg==" />
    <add name="DataLakeEntities" connectionString="metadata=res://*/DataLake.csdl|res://*/DataLake.ssdl|res://*/DataLake.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=synechroninsurance.database.windows.net,1433;initial catalog=DataLake-Dev;user id=synechronadministrator;password=Synechron101;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="StormApiURl" value="http://www.ncdc.noaa.gov/swdiws/" />
    <add key="startdatetime" value="08/08/2016 00:00:00" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://noaafeedtopic.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tzmmYryfPonNRF/Ch+mP/cAAutLSzXUAVp2jIEqVi2E=" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>